
<style>
#detail {
  text-align: center;
}

#detail_puntu {
  text-align: center;
  font-size: 80px;
}

</style>


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">LECTURA FÁCIL</a></li>
        <li><a href="#services">SERVICIOS</a></li>
        <li><a href="#ranking">RANKING</a></li>
        <li><a href="#contact">AYUDA</a></li>
        <li><a href="#contact">CONTACTO</a></li>
      </ul>
    </div>
  </div>
</nav>

<br/>
<br/>


<br/>
<div class="container">


  <div class="jumbotron">
      <h1>Tu puntuación es:</h1>
       <%@puntuacion = valoracion%>
      <div id='detail_puntu'><%= @puntuacion[0].size%></div>
    </div>
    <p><h5>    <span class="glyphicon glyphicon-ok"></span><b> Correctos:</b> <%= @puntuacion[0].size%>     <span class="glyphicon glyphicon-remove"></span><b> Incorrectos:</b><%= @puntuacion[1].size%></h5></p>


    <div class="well well-sm" id = 'detail'><h3>Detalle de resultados</h3></div>


 <% mis_estandares = Estandar.all%>
  <div class="panel-group" id="accordion">
      <% mis_estandares.each do |mi_estandar| %>
      <% resultado_bad = Resultado.where(:fichero_id => session[:fichero_id], :estandar_id => mi_estandar.id, :codError=>1).count%>
    <% if resultado_bad == 0%>
    <div class="panel panel-success">
          <%else%>
        <div class="panel panel-danger">
     <%end%>
      <div class="panel-heading">
        <h4 class="panel-title">
             <% if resultado_bad == 0%>
              <span class="glyphicon glyphicon-ok">  </span>
            <%else%>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=mi_estandar.id%>">
              <span class="glyphicon glyphicon-remove">  </span>
            <%end%>
          <%= mi_estandar.descripcion%></a>
        </h4>
      </div>
      <div id="collapse<%=mi_estandar.id%>" class="panel-collapse collapse">
        <div class="panel-body">
          <% if resultado_bad == 0%>
        <%else%>
          <% mis_resultados = Resultado.where(:fichero_id => session[:fichero_id], estandar_id:mi_estandar.id,codError:1)%>
          <table class="table">
            <thead>
            <tr>
              <th>Fichero</th>
              <th>Estandar</th>
              <th>Mensaje Error</th>
              <th>Ayuda</th>
              <th colspan="6"></th>
            </tr>
          </thead>

          <tbody>
            <% mis_resultados.each do |res| %>
            <% mi_fichero = Fichero.find_by(id: session[:fichero_id])%>
              <tr>
                <td><%= mi_fichero.nombre %></td>
                <td><%= mi_estandar.descripcion %></td>
                <td><%= res.msg_error %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%end%>

      </div>
      </div>
    </div>
<%end%>
  </div>




</div>
